[Desktop Entry]
Type=Action
Hidden= false
Tooltip=Compare Two Files
ToolbarLabel=Compare Two Files
Name=Compare Two Files
Profiles=profile-zero
Icon=meld

[X-Action-Profile profile-zero]
MimeTypes=text/*;application/*;
Exec=meld %F
Name=Default profile
SelectionCount=2
