[Desktop Entry]
Version=1.0
NoDisplay= false
Type=Menu
Icon=application-other
Name=Development
Tooltip=Development
ToolbarLabel=Development
ItemsList=executable;compare2files;mountiso;idesk-lnk;
