[Desktop Entry]
Type=Action
NoDisplay= false
Name[en_US]=Set Folder Emblem
Name=Set Folder Emblem
Profiles=profile-zero
Icon=folder
MimeTypes=inode/directory;

[X-Action-Profile profile-zero]
MimeTypes=inode/directory;
#MimeType=inode/directory;
Exec=/home/paul/bin/emblemize3 %f
Name=Default Profile

