[Desktop Entry]
Type=Action
NoDisplay= false
Name[en_US]=Make Executable
Name=Make Executable
Profiles=profile-zero
Icon=application-default-icon
MimeTypes=all/allfiles;

[X-Action-Profile profile-zero]
MimeTypes=all/allfiles; !inode/directory;
TryExec=make-executable.sh
Exec=make-executable.sh %f
Name=Default Profile
