[Desktop Entry]
Type=Action
Hidden= false
Name[en_US]=Make Executable
Name=Make Executable
Profiles=profile-zero
Icon=application-default-icon

[X-Action-Profile profile-zero]
MimeTypes=all/allFiles;
Exec=$HOME/bin/make-executable.sh %f
Name=Default Profile
