[Desktop Entry]
Type=Action
NoDisplay= false
Name[en_US]=Find Files
Name=Find Files
Profiles=profile-zero
Icon=file
MimeTypes=inode/directory

[X-Action-Profile profile-zero]
MimeTypes=inode/directory
Exec=/home/paul/bin/pcmanfm --find-files %f
Name=Default Profile
