[Desktop Entry]
Type=Menu
NoDisplay= false
Icon=menulibre
Name=Folder Actions
Tooltip=Folder Actions
ToolbarLabel=Folders/Directories
ItemsList=folder-usage;emblemizer;find-files;slideshow;samba-share-ro;
MimeTypes=inode/directory;
