[Desktop Entry]
Type=Menu
Hidden= false
Icon=menulibre
Name=Menu Folders
Tooltip=Folders Actions
ToolbarLabel=Folders/Directories
ItemsList=samba-share-ro;emblemizer;
MimeTypes=inode/directory;
