[Desktop Entry]
Type=Action
NoDisplay= false
Name[en]=Edit iDesk lnk
Tooltip[en]=Edit iDesk lnk File
ToolbarLabel[en]=Edit iDesk lnk File
Profiles=profile-zero;
Icon[en]=document-save-as
MimeTypes=application/x-ms-shortcut;

[X-Action-Profile profile-zero]
MimeTypes=application/x-ms-shortcut;
TryExec=anidesktool
Exec=anidesktool %f
Name[en]=Default profile
