[Desktop Entry]
Type=Action
NoDisplay= false
Name[en_US]=Backup File Here
Name[en]=Backup File Here
Name[C]=Backup File Here
Tooltip[en_US]=Backup File Here
Tooltip[en]=Backup File Here
Tooltip[C]=Backup File Here
ToolbarLabel[en_US]=Backup File Here
ToolbarLabel[en]=Backup File Here
ToolbarLabel[C]=Backup File Here
Icon[en_US]=document-save-as
Icon[en]=document-save-as
Icon[C]=document-save-as
Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=all/allfiles;!inode/directory;
Exec=backupfilehere.sh %F
Name[en_US]=Default profile
Name[en]=Default profile
Name[C]=Default profile
