[Desktop Entry]
NoDisplay= false
Type=Menu
Icon=application-menu
Name=Custom Actions
Tooltip=Custom Actions
ToolbarLabel=Custom Actions Menu
SuggestedShortcut="C"
ItemsList=development-menu;images-menu;mb-backup-here;mb-copy-to-folder;mb-createshortcut;mb-editshortcut;mb-rename-shortcut;mb-open-as-root;bulk-rename
