[Desktop Entry]
Type=Action
NoDisplay= false
Name[en_US]=Rename Shortcut
Name[en]=Rename Shortcut
Name[C]=Rename Shortcut
ToolbarLabel[en_US]=Rename Shortcut
ToolbarLabel[en]=Rename Shortcut
ToolbarLabel[C]=Rename Shortcut
Icon[en_US]=stock_spellcheck
Icon[en]=stock_spellcheck
Icon[C]=stock_spellcheck

Profiles=profile-zero;

[X-Action-Profile profile-zero]
MimeTypes=application/x-desktop;
#TryExec=renameshortcut.sh 
Exec=renameshortcut.sh %d %b
Name[en_US]=Default profile
Name[en]=Default profile
Name[C]=Default profile
SelectionCount= =1
